/* Notification styles */

#NotificationsList a {
    text-align: left;
    color: white !important;
}

    #NotificationsList a:hover {
        text-decoration: none !important;
    }

.notification {
    padding: 5px 0px;
    padding-right: 3px;
    border: 1px solid #2a2a2a;
    border-top: 0;
    border-right: 0;
    cursor: pointer;
    background-image: url('textures/glass.png');
    background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, -moz-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, -o-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, linear-gradient(to bottom, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
}

    .notification strong {
        font-weight: 700;
    }

    .notification:hover {
        background: #4d4d4d !important;
        background-image: none;
    }

.notificationLink {
    display: block;
    width: 100%;
    height: 100%;
}

#NotificationsList {
    font-weight: normal !important;
    width: 312px;
    background-color: #292525;
    color: white !important;
    position: absolute;
    top: 45px;
    right: 0;
    padding: 0;
    z-index: 99999999;
}

#NotificationsIconContainer .badge {
    background-color: #292525 !important;
    background-image: url('textures/glass.png');
    background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, -moz-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, -o-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, linear-gradient(to bottom, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
}

#NotificationsTitle {
    height: 20px;
    padding-left: 10px;
    font-size: 15px;
    padding: 5px;
    border-top: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    background-image: url('textures/glass.png');
    background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, -moz-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, -o-linear-gradient(top, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
    background-image: none, linear-gradient(to bottom, rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%);
}

.notificationText {
    font-size: 0.8em;
    text-align: left;
    line-height: 1.2em;
    word-break: break-word;
    color: #DDD;
}

    .notificationText > strong {
        font-weight: 500;
        color: white;
    }

.notificationType {
    color: white;
    font-size: 0.7em;
    line-height: 0.8em;
    margin-top: 3px;
    font-weight: 700;
    text-transform: lowercase;
    color: #BBB;
}

.notificationTime {
    font-size: 0.7em;
    margin-top: 2px;
    font-style: italic;
    font-weight: normal;
    float: right;
    color: #BBB;
}

.notificationsFooter {
    font-size: 0.8em;
    color: black;
    background-color: #6fa22a;
    padding-right: 12px;
    font-weight: 700;
    padding-bottom: 6px;
    padding-top: 2px;
}

.unreadIcon {
    background-color: #6fa22a !important;
}

.typeIcon {
    font-size: 1.4em;
    padding: 8px;
    border: 1px solid white;
    color: white;
    background-color: #777;
}

#HeaderUserPanel {
    height: 39px;
    margin-top: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-top: 0;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    #HeaderUserPanel a:hover {
        text-decoration: none;
    }

/* End of Notification styles */